/*z-index順番
Moon > Mud > Wave > Page , work_img > start_img
Mudはクリックイベントを取らないようにしているので基本的には
Mudを飛ばして見ていいけど、視覚的に改良するときは気をつけないといけない。
*/


/*htmlのリンク移動がスクロールになるやつ(scroll-behavior: smooth)*/

html {
    scroll-behavior: smooth;
}


/*bodyが全部0なのは端っこから合わせたかったから。*/

body {
    padding: 0;
    margin: 0;
    border: 0;
}

:root[theme="light"] {
    /*ダークモード切り替えの変数*/
    --mudmainColor: #323232;
    --mudshadow: #CB6500;
    /*タイトルとか段落のスライドの変数*/
    --dark1: #e7e7e7;
    --dark2: #c2c2c2;
    --dark3: #b1b1b1;
    --text-color: #000000;
    --title-color: #000000;
    /*月のボタンの変数*/
    --moon-outside: #fff8bf;
    --moon-inside: #474747;
    --moon-content: "ダ｜クモ｜ド切り替え";
    --moon-content-color: #ffffff;
    /*メニューの変数*/
    --menu--opacity: 0.5;
    --menu-opacity-hover: 0.98;
    --menu-backcolor: #e2e2e2;
    --menu-textcolor: #000000;
    --tears-color: #000000;
    --item-link-visited: #353434;
    --item-hover: #fff5a7;
    --item-acive: #fcee74;
}

:root[theme="dark"] {
    /*ダークモード切り替えの変数*/
    --mudmainColor: #323232;
    --mudshadow: #CB6500;
    /*タイトルとか段落のスライドの変数*/
    --dark1: #2b3039;
    --dark2: #1B1E22;
    --dark3: #08090A;
    --text-color: #ffffff;
    --title-color: #ffffff;
    /*月のボタンの変数*/
    --moon-outside: #FFE200;
    --moon-inside: #ffffff;
    --moon-content: "ライトモ｜ド切り替え";
    --moon-content-color: #ffffff;
    /*メニューの変数*/
    --menu--opacity: 0.5;
    --menu-opacity-hover: 0.95;
    --menu-backcolor: #4e4e4e;
    --menu-textcolor: #ffffff;
    --tears-color: #e9e9e9;
    --item-link-visited: #000000;
    --item-hover: #fff8bf;
    --item-acive: #fde846;
}


/*aタグのリンクの色とか調整*/

a:link {
    color: var(--item-link-visited);
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: var(--item-link-visited);
}

a:hover {
    color: var(--item-hover);
    text-decoration: none;
    filter: drop-shadow(0 0 30px var(--item-hover));
}

a:active {
    color: var(--item-acive);
    text-decoration: none;
}


/*大聖堂の画像でインパクトをつけるためのもの*/

#Start_img {
    pointer-events: none;
    filter: drop-shadow(0 0 100vw #5fdcfc);
    margin: 0;
    width: 100vw;
    max-width: 100vw;
    height: auto;
    z-index: 1;
    overflow: scroll;
}


/*波の部分でSVG:*/

.cls_Wave {
    margin: 0;
    position: relative;
    width: 100vw;
    margin-top: -7vw;
    z-index: 5;
    padding: 0;
    font-size: 0;
    line-height: 0;
}


/*文字を書く部分のクラス*/

.cls_page {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-top: -8vw;
    z-index: 3;
}


/*pはpageの略で人ページごとに色を変えることで階層を意識している。
pageとwaveは数字ずつに対応している。*/

#p1 {
    background-color: var(--dark1);
}

#p2 {
    background-color: var(--dark2);
}

#p3 {
    background-color: var(--dark3);
}


/*wはwaveの略で波線をPageの色と一緒に合わせている。*/

#W1 {
    fill: var(--dark1);
    stroke: var(--dark1);
}

#W2 {
    fill: var(--dark2);
    stroke: var(--dark2);
}

#W3 {
    fill: var(--dark3);
    stroke: var(--dark3);
}


/*左上にある月の大きさを指定している。
z-indexやmix-blend-modeなどで下に行けば行くほど月の色が濁っていく表現している。
MはMoonの略。*/

.cls_Moon {
    position: fixed;
    top: 9vh;
    left: 1vw;
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
}

#Myellow {
    background-color: var(--moon-outside);
    z-index: 2;
}

#Mwhite {
    display: block;
    mix-blend-mode: overlay;
    background-color: var(--moon-inside);
    filter: drop-shadow(0 0 30px var(--moon-inside));
    z-index: 6;
}

#Mwhite:hover {
    display: block;
    mix-blend-mode: normal;
    background-color: var(--moon-inside);
    filter: drop-shadow(0 0 30px var(--moon-outside));
    z-index: 6;
}


/*
ダークモード・ライトモードを切り替えられる
ことを伝えるためにMoonにホバーしたときに
説明を出している。
beforeがホバーしたとき。
contentで出したい言葉を表示している。
*/

#Mdescription {
    display: none;
    background-color: #000000;
    pointer-events: none;
    z-index: 10;
    position: absolute;
    right: -30%;
    content: var(--moon-content);
    color: var(--moon-content-color);
}

#Mdescription::before {
    background-color: #000000;
    pointer-events: none;
    z-index: 10;
    position: absolute;
    right: -30%;
    content: var(--moon-content);
    color: var(--moon-content-color);
    font-size: 2vh;
}

#Mwhite:hover #Mdescription {
    display: inline-block;
}


/*目次の大きさなどを指定している。*/

.title {
    position: relative;
    top: 5vw;
    text-align: center;
    padding: 2vw;
    color: var(--title-color);
    font-size: 5vh;
}


/*内容のフォントの大きさとかテキストの位置を指定している:*/

.Text {
    position: relative;
    top: 5vw;
    color: var(--text-color);
    text-align: center;
    font-size: 4vh;
}


/*作品の画像の大きさなどを指定している。*/

.work_img {
    width: 60vw;
    height: auto;
    z-index: 3;
}


/*ここからダークモード・ライトモード切り替え用アニメーション
pointer-eventsをnoneにすると当たり判定がなくなって便利
mudがクラスである必要はないけど作ったときにクラスだったので
クラスのままになっている、問題はないから多分idに直さないと思う。*/

.cls_mud {
    pointer-events: none;
    opacity: 0;
    z-index: 5;
    position: fixed;
    top: -50vw;
    right: 50vw;
    display: block;
    width: 40vw;
    height: 40vw;
    background: var(--mudmainColor);
    border: 4px #e9811a;
    border-radius: 0% 100% 35% 65% / 0% 54% 46% 100%;
    box-shadow: inset 0 0 20px 0 var(--mudshadow);
    filter: drop-shadow(0 0 20px var(--mudshadow));
    overflow: hidden;
}


/*ダークモード*/

@keyframes darkwavestart {
    0% {
        background: var(--mudmainColor);
        opacity: 0;
        top: -50%;
    }
    15% {
        transform: rotate(20deg);
    }
    45% {
        opacity: 1;
        width: 40vw;
        height: 40vw;
        border-radius: 0% 100% 35% 65% / 0% 54% 46% 100%;
        top: 30vh;
        right: 50vw;
        box-shadow: inset 0 0 20px 0 var(--mudshadow);
        filter: drop-shadow(0 0 20px var(--mudshadow));
    }
    70% {
        opacity: 1;
        top: 0%;
        right: 0%;
        width: 100vw;
        height: 100vh;
        border-radius: 100% 0% 100% 0% / 0% 100% 0% 100%;
        box-shadow: inset 0 0 0px 0 var(--mudshadow);
        filter: drop-shadow(0 0 0px var(--mudshadow));
        animation-name: darkwave;
        animation-play-state: paused;
    }
    100% {
        opacity: 0;
        top: 0%;
        right: 0%;
        width: 100vw;
        height: 100vh;
        border-radius: 100% 0% 100% 0% / 0% 100% 0% 100%;
        box-shadow: inset 0 0 0px 0 var(--mudshadow);
        filter: drop-shadow(0 0 0px var(--mudshadow));
        animation-name: darkwave;
        animation-play-state: paused;
    }
}


/*ライトモード*/

@keyframes darkwaveend {
    0% {
        background: var(--mudmainColor);
        opacity: 1;
        top: 0%;
        right: 0%;
        width: 100vw;
        height: 100vh;
        border-radius: 100% 0% 100% 0% / 0% 100% 0% 100%;
        box-shadow: inset 0 0 0px 0 var(--mudshadow);
        box-shadow: 0 0 0px 0 var(--mudshadow);
        animation-name: darkwave;
        animation-play-state: paused;
    }
    30% {
        width: 40vw;
        height: 40vw;
        border-radius: 0% 100% 35% 65% / 0% 54% 46% 100%;
        top: 30vh;
        right: 50vw;
        box-shadow: inset 0 0 20px 0 var(--mudshadow);
        filter: drop-shadow(0 0 20px var(--mudshadow));
    }
    70% {
        transform: rotate(20deg);
    }
    100% {
        opacity: 0;
        top: -50%;
    }
}


/*
スクロールメニュー
fixedは原点が左上でwidthが20vwなのでpositionのleftは50から
10引いて40vwにしている。
*/

.cls_menu {
    z-index: 6;
    position: fixed;
    top: 0%;
    right: 0vw;
    display: block;
    width: 20vw;
    height: 10vh;
    background: var(--menu-backcolor);
    opacity: var(--menu--opacity);
    text-align: center;
    color: var(--menu-textcolor);
    transition-property: all;
    transition-duration: 0.5s;
}


/*idでフォントとか中身を調整している。*/

#id_menu {
    font-size: 5vh;
}


/*メニューの中はホバーしていないとき、基本Display:noenにしている*/

.cls_item {
    display: none;
}

#tears_L {
    pointer-events: none;
    display: none;
    position: fixed;
    left: 0%;
    top: 2vh;
    width: 10vh;
    height: 10vh;
    background: var(--tears-color);
    transform: rotate(45deg) translate(0, 0);
    border-radius: 0% 100% 46% 54% / 0% 54% 46% 100%;
    opacity: 1;
    animation: dry_tears 3s ease-out 0s infinite normal;
}

#tears_R {
    pointer-events: none;
    display: none;
    position: fixed;
    right: 0%;
    top: 2vh;
    width: 10vh;
    height: 10vh;
    background: var(--tears-color);
    transform: rotate(45deg) translate(0, 0);
    border-radius: 0% 100% 46% 54% / 0% 54% 46% 100%;
    opacity: 1;
    animation: falling_tears 3s ease-out 0s infinite normal;
}


/*ホバーひとつひとつ分けないと動かなかったのでホバーがいっぱいある。*/

.cls_menu:hover {
    opacity: var(--menu-opacity-hover);
    overflow: scroll;
    righ: 0%;
    width: 100vw;
    height: 40vh;
}

.cls_menu:hover #tears_L {
    display: block;
}

.cls_menu:hover #tears_R {
    display: block;
}

.cls_menu:hover .cls_item {
    display: block;
}


/*スクロールメニュー用のアニメーション*/

@keyframes falling_tears {
    0% {
        opacity: 0;
        transform: translate(0, 0) rotate(45deg)
    }
    100% {
        opacity: 0.7;
        transform: translate(0, 20vh) rotate(45deg);
    }
}

@keyframes dry_tears {
    0% {
        opacity: 0.7;
        transform: translate(0, 20vh) rotate(-135deg)
    }
    100% {
        opacity: 0;
        transform: translate(0, 0vh) rotate(-135deg);
    }
}